# https://help.github.com/articles/about-codeowners/
# please keep this file in the same order as packages

src/main/java/org/spongepowered/api/boss/** @kashike
src/main/java/org/spongepowered/api/data/** @gabizou
src/main/java/org/spongepowered/api/effect/** @gabizou
src/main/java/org/spongepowered/api/entity/** @gabizou
src/main/java/org/spongepowered/api/entity/ai/** @Zidane
src/main/java/org/spongepowered/api/profile/** @kashike
src/main/java/org/spongepowered/api/registry/** @gabizou
src/main/java/org/spongepowered/api/text/** @kashike @minecrell
src/main/java/org/spongepowered/api/world/gamerule/** @kashike
